<div class="row">
  <h3> June 4, 2020 - Unix Shell </h3>
  <div class="col-md-6">
    <h4>East Coast</h4>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>08:00</td>  <td>Automating Tasks with the Unix Shell</td> </tr>
      <tr> <td>09:45</td>  <td>Break</td> </tr>
      <tr> <td>10:00</td>  <td>Automating Tasks with the Unix Shell (Continued)</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h4>West Coast</h4>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>01:00</td>  <td>Automating Tasks with the Unix Shell</td> </tr>
      <tr> <td>02:45</td>  <td>Break</td> </tr>
      <tr> <td>03:00</td>  <td>Automating Tasks with the Unix Shell (Continued)</td> </tr>
      <tr> <td>05:00</td>  <td>END</td> </tr>
     <!--
      <tr> <td>16:30</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
      -->
    </table>
  </div>
</div>

<div class="row">
  <h3> June 8, 2020 - Git </h3>
  <div class="col-md-6">
    <h4>East Coast</h4>
    <table class="table table-striped">
      <tr> <td>08:00</td>  <td>Version Control with Git</td> </tr>
      <tr> <td>09:45</td>  <td>Break</td> </tr>
      <tr> <td>10:00</td>  <td>Version Control with Git (Continued)</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h4>West Coast</h4>
    <table class="table table-striped">
      <tr> <td>01:00</td>  <td>Version Control with Git</td> </tr>
      <tr> <td>02:45</td>  <td>Break</td> </tr>
      <tr> <td>03:00</td>  <td>Version Control with Git (Continued)</td> </tr>
      <tr> <td>05:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>

<div class="row">
  <h3> June 9, 2020 - Programming in Python I</h3>
  <div class="col-md-6">
    <h3>June 9, 2020 - Programming in Python I</h3>
    <table class="table table-striped">
      <tr> <td>08:00</td>  <td>Python Basics and Data Manipulation</td> </tr>
      <tr> <td>09:45</td>  <td>Break</td> </tr>
      <tr> <td>10:00</td>  <td>Loops and Lists</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
